.sp_gVQspFEkaiO{background-image:url(/rsrc.php/v3/ye/r/Gc1txBtO6ML.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_gVQspFEkaiO.sx_9f6f8a{background-position:0 0}.sp_gVQspFEkaiO.sx_3fb142{background-position:0 -17px}

#bootloader_BW9i_{height:42px;}.bootloader_BW9i_{display:block!important;}